body{
    max-width: 1000px;
   margin: 0px auto;
   padding: 0px;
    font-family: tahoma, sans-serif;
} 
.container{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: table;
}
/*Topbar css start*/
.logo{
    text-align: center;
    margin: 18px 0 10px 0;
}

.tpbar-txt{
    text-align: center;
}

.tpbar-txt h3 , p{
    margin: 0px;
}
.tpbar-txt p{
    margin-bottom: 15px;
    margin-top: 3px;
        font-weight: 700;
    color: #b63334;
    font-size: 13px;
}
.tpbar-txt h3{
    font-weight: 700;
    font-size: 23px;
    color: #616161;
}
/*topbar css ends*/
/*navbar css start*/
.navbar{
    width: 100%;
    background-color: #3d3b33;
   margin-bottom: 2px;
}
.line{
    margin: 0px;
    color: #fff;
}
.nav-ul ul{
    display: flex;
    justify-content: center;
    padding: 0;
    color: #fff;
    margin: 0;
}
.nav-ul ul li a{
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    font-weight: 100;
    padding: 15px 25px;
    display: block;
    border-right: 2px solid #858585;
}

.border-right-none{
  border-right: 0 !important;
}


.nav-ul ul li{
    list-style: none;
    position: relative;
    z-index: 9999;
}
.nav-ul ul li  ul{
    display: none;
    position: absolute;
    width: 170px;
    background: #616161;

} 
.nav-ul ul li ul li{
    display: block; 
    border-bottom: 2px dotted #939393;
}
.nav-ul ul li ul li:last-child{
    border-bottom: none;
}
.nav-ul ul li ul li a{
    border-right: 0px !important;
}

.nav-ul ul li:hover ul{
    display: block;
}
.nav-ul ul li ul li a:hover{
    color: #e1c832;
}


/*navbar css ends*/
/*banner css start*/
.banner{
    width: 100%;
    margin-bottom: 40px;
}


.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    
}





.owl-dots {
    width: auto;
    position: absolute;
    top: 88%;
    left: 80%;
    margin: 0 !important;
}

.owl-dot span{
    width: 10px !important;
    height: 10px !important;
    background-color: #a01b15 !important;
    border: 1px solid #000 !important;
}


.owl-nav button {
    border: none !important;
    outline: none !important;
}
.owl-dot.active span{
   
    background-color: #fff !important;
    border: 1px solid #000 !important;
}

.banner-img img{
    width: 100%;
}
.services-banner{
    margin: 0px;
}
/*.banner-img{
    width: 100%;
    background-image: url(../img/pizza.jpg);
    height: 400px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -95px;
}*/

/*banner css ends*/

/*body-sec css start*/
.body-sec{
    width: 100%;
}
.body-section{
    display: flex;
    justify-content: space-between;
}
.body-left{
    width: 72.5%;
}

.body-sec-left{
    display: flex;
    align-items: flex-start;
}
.left-img{
        height: 92px;
    width: 65%;
    border: 1px solid #353434;
    background-image: url(../img/the-cake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 270px;
}
.left-txt{
        display: flex;
    flex-direction: column;
    margin-top: -6px;
}
.body-sec-left h2{
    margin: 0 0 4px 15px;
    font-weight: 700;
    font-size: 23px;
    color: #b73334;
}

.body-left p{
        margin: 20px 0 0 0px;
    font-size: 13px;
    color: #000000;
}
.body-sec-left p{
        margin: 0 0 0 15px;
    font-size: 13px;
    color: #000000;
}
.rdmr{
    font-weight: 700;
    font-size: 13px;
    color: #b63334;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
.body-sec-right{
    width: 25.5%;
}
.right-body{
    display: flex;
    position: relative;
    width: 100%;
    background-color: #e8deba;
    border-radius: 9px;
}
.right-img img{
        position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
}
.bottom-txt{
        margin-top: 140px;
    margin-left: 13px;
}
.bottom-txt h3{
            font-size: 16px;
    font-weight: 700;
    color: #b73333;
    margin-bottom: 10px;
}
.bottom-txt p{
        font-size: 12px;
    font-weight: 100;
    color: #2c2c2c;
    margin-bottom: 10px;
}
.bottom-txt button{
        border: none;
    background-color: transparent;
    padding: 6px 0 0 0;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 15px;
}
.bottom-txt button a{
    color: #b63432;
}
/*body-sec css ends*/
/*lnch-boxes css start*/

.lnch-boxes{
    width: 100%;
}
.lnch-boxes-txt{
    margin-bottom: 20px;
}
.lnch-boxes-txt h3{
    font-size: 22px;
    color: #b63433;
    font-weight: 700;
    margin-bottom: 10px;
}
.lnch-boxes-txt p{
    font-size: 13px;
    color: #3d3b3a;
    font-weight: 400;
}
.middle-txt{
    font-family: Times New Roman,sans-serif;
    padding: 15px 0px;
    margin-bottom: 20px;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
}
.middle-txt p{
    text-align: end;
    font-size: 17px;
    color: #36599b;
}
.qoute-p {
    font-size: 12px !important;
    color: #b63433 !important;
}
.last-txt{
    font-size: 14px;
    color: #535353;
    margin-bottom: 45px;
}
/*lnch-boxes css ends*/
/*Our specialities css start*/

.our-spclts{
    width: 100%;
    margin-bottom: 30px;
}
.our-txt h3{
    font-size: 17px;
    font-weight: 700;
    color: #b63432;
}
.point{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
.point p{
        margin-left: 10px;
    color: #807f80;
    font-size: 13px;
    font-weight: 100;
}

/*Our specialities css ends*/

/*footer css start*/
.footer{
    width: 100%;
    background-color: #3d3b3a;
        border-top: 5px solid #c2c1c2;
}
.footer-links ul{
        padding: 0;
    text-align: center;
    margin-bottom: 10px;
}
.footer-links ul li{
    display: inline-block;
    color: #fff;
}
.footer-links ul li a{
        text-decoration: none;
    color: #fff;
    font-size: 12px;
}
.footer-content p{
       text-align: center;
    font-size: 13px;
    font-weight: 100;
    color: #fff;
    margin-bottom: 10px;
}


/*footer css ends*/


@media (max-width:905px){
    .body-section{
        flex-direction: column;
        margin-left: 30px;
        width: unset;
    }
    .body-left{
        margin-bottom: 15px;
        width: 90%;
    }
    .body-sec-right {
    width: 40%;
}
    .our-txt{
        margin-left: 30px;
    }
    
}

@media (max-width:640px){
    .left-img {
    height: 100px;
    width: 106%;
    border: 1px solid #353434;
    background-image: url(../img/the-cake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 235px;
}
    .body-sec-right {
    width: 60%;
}
    .nav-ul ul li ul {
    width: 150px;
    }
}

@media (max-width:450px){
    .nav-ul ul li a { 
    font-size: 10px;
        border: none;
}
    .left-img{
        width: 200%;
    }
    .body-sec-left h2 {
    font-size: 20px; 
}
   .body-sec-left p {
    font-size: 12px;
} 
    .body-left p {
    font-size: 12px;
}
    .rdmr{
        font-size: 12px;
    }
    .body-sec-right {
    width: 80%;
}
    .footer-content p{
        font-size: 12px;
    }
    .nav-ul ul {
    align-items: flex-start;
    flex-direction: column;
}
    .line{
        display: none;
    }
    .nav-ul ul li:hover ul {
    margin-left: 80px;
    margin-top: -45px;
}
    .owl-dots{
            width: auto;
    position: absolute;
    top: 80%;
    left: 75%;
    margin: 0 !important;
    }
}









